{% if dependency_graph %}
## Dependency graph
{% else %}
Dependency graph not available
{% endif %}

{% filter convert_markdown(0) %}
```mermaid
flowchart LR
    {%- for node in dependency_graph.nodes %}
    {{node.predicate}}(["{{node.predicate}}"])
         {%- for positive in node.positive %}
         {{node.predicate}} --> {{positive}}
         {%- endfor %}
         {%- for negative in node.negative %}
         {{node.predicate}} -.-> {{negative}}
         {%- endfor %}
    {%- endfor %}
    classDef all fill:#00000000
    classDef in stroke:#9178C6,stroke-width:3px;
    classDef out stroke:#52BF54,stroke-width:3px;
    classDef aux stroke:#848484,stroke-width:0.2px;
```
{% endfilter %}
