<h3><code>{{title}}</code></h3>

{% if config.source %}
    {% with source = encoding %}
        {% filter convert_markdown(1) %}
            {% include 'source.html.jinja' %}
        {% endfilter %}
    {% endwith %}
{% endif %}

{% if config.predicate_table %}
    {% include 'predicate_table.html.jinja' %}
{% endif %}

{% if config.dependency_graph %}
    {% filter convert_markdown(1) %}
        {% include 'dependency_graph.html.jinja' %}
    {% endfilter %}
{% endif %}

{% if config.glossary %}
    {% filter convert_markdown(1) %}
        {% include 'separator.html.jinja' %}
    {% endfilter %}

    {% include 'glossary.html.jinja' %}
{% endif %}
