<h3><code>{{title}}</code></h3>

{% if encoding %}
    {% with source = encoding %}
        {% include 'source.html.jinja' %}
    {% endwith %}
{% endif %}

{% if dependency_graph %}
    {% include 'dependency_graph.html.jinja' %}
{% endif %}
