<h3><code>{{title}}</code></h3>

{% if config.source %}
    {% with source = encoding %}
        {% include 'source.html.jinja' %}
    {% endwith %}
{% endif %}

{% if config.dependency_graph %}
    {% include 'dependency_graph.html.jinja' %}
{% endif %}

{% if config.glossary %}
    {% include 'separator.html.jinja' %}

    {% include 'glossary.html.jinja' %}
{% endif %}
