
{% set glossary_block %}

{# ## :material-format-list-bulleted-square: Glossary {: data-toc-label='Glossary' } #}
## Glossary { data-toc-label="function_name" }

{% for entry in glossary.entries %}
{# #### <code class="doc-symbol doc-symbol-heading doc-clingo-symbol-predicate"></code> <code>{{ entry.signature }}</code> #}
#### {{ entry.signature }}
{# TODO: Add thi line below to link things once we have the same table #}
{# <a name="{{ entry.name }}-{{ entry.arity }}"></a> #}

{{ entry.description | convert_markdown(5, html_id) }}

{# {{ entry.description }} #}

{%- if entry.parameters %}

| Parameter | Description                        |
| :-------- | :--------------------------------- |
{%- for param, description in entry.parameters.items() %}
| `{{ param }}` | {{ description }} |
{%- endfor %}
{% endif %}
{% endfor %}
{% endset %}


{{ glossary_block }}
